# Déclaration de nos différents services
services:
    # Service/containeur "api"
    api:
        # Création de l'image avec "build"
        build:
            # Répertoire à partir du quel le build doit se faire
            context: ./api
            # Spécifie le Dockerfile a utiliser pour le build :
            dockerfile: Dockerfile.api
        # On indique le port que l'on va utiliser sur la machine hote (gauche) avec le port que le conteneur va utiliser (droite)
        ports:
            - 3000:3000
        # On indique que le conteneur api dépend du conteneur db, et donc que ce dernier doit etre créé avant
        depends_on:
            - db
        # On indique le nom du containeur
        container_name: okanban-api

    client:
        build:
            context: ./client
            dockerfile: Dockerfile.cli
        ports:
            - 4173:4173
        depends_on:
            - api
        container_name: okanban-cli

    # Mise en place du containeur db
    db:
        # Ici on utilise l'image postgres de dockerhub plutot qu'un fichier Dockerfile
        image: postgres
        container_name: okanban-database

        # On détermine ou sont les variables a utiliser pour se connecter a la db : user, database et mdp
        # Le fichier doit se trouver a la racine du projet si on ne veut pas a avoir a spécifier son adresse
        env_file:
            - .database.docker.env

        # Repertoire volumes a utiliser
        volumes:
            # pour lancer les scripts d'initialisation (create + populate). Le ":" fait le lien (bind) entre notre dossier api/data et le docker-entrypoint
            - ./api/data:/docker-entrypoint-initdb.d

            # pour la persistance des données, nom du volume:endroit du volume dans le containeur. L'endroit est donné par la doc de postgres dans dockerhub
            - pg-okanban:/var/lib/postgresql

# Création du volume pg-okanban
volumes:
    pg-okanban:
